@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Poppins:ital,wght@0,400;0,600;1,100&display=swap");

/* <-- Style --> */

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background_new.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 768px;
  min-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underconstructur > .container > .row > .col > .heading1 {
  color: white;
  font-family: "Merriweather";
  text-align: center;
  font-size: 36px;
  flex-direction: column;
  margin-top: 48px;
}

.underconstructur > .container > .row > .col > .heading2 {
  color: white;
  font-family: "Merriweather";
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  flex-direction: column;
}
.underconstructur > .container > .row > .col > .backgroundlogo {
  background: linear-gradient(187.09deg, #187042 5.53%, #234053 92.14%);
  border-radius: 100px 8px 100px 8px;
  width: 600px;
  height: 141px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 48px;
}
.underconstructur > .container > .row > .col > .backgroundlogo > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 42px;
}
.underconstructur > .container > .row > .col > .backgroundlogo > ul > li {
  list-style-type: none;
  float: left;
}

.container > .row > .contact > p {
  color: white;
  font-family: "Merriweather";
  font-size: 18px;
  display: flex;
  justify-content: end;
}
.container > .row > .contact > ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}
.container > .row > .contact > ul > li {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.container > .row > .contact {
  padding-bottom: 48px;
}

.container > .row > .contact > .starfall {
  position: absolute;
  left: 750px;
  top: 530px;
  z-index: -1;
}
.container > .gif {
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  position: fixed;
  z-index: -1;
  left: 300px;
  top: 120px;
}


@media screen and (max-width: 1510px) {
  body {
    background-size: 2330px;
  }
}
@media screen and (max-width: 932px) {
  body {
    background-size: 2908px;
  }
}
@media screen and (max-width: 747px) {
  body {
    background-size: 3093px;
  }
}
@media screen and (max-width: 409px) {
  body {
    background-size: 3431px;
  }
}
@media screen and (max-width: 368px) {
  body {
    background-size: 3472px;
  }
}
